* text=auto

.htaccess text
4jwords text
COPYING text
Makefile text
*.html text
*.md text
*.php text
aviation text
classical text
compdic text
concrete text
*.doc text
configure text
*.in text
*.mak text
edict text
*.txt text
enamdict text
engscidic text
findic text
geodic text
j_places text
kanjidic text
*.euc text
lawgledt text
lingdic text
mktdic text
pandpdic text
radkfile text
stardict text
*.sql text
updatescript text

*.php.in linguist-language=PHP
*.mak.in linguist-language=Makefile
configure.in linguist-language=Shell
